body {
    margin: 0;
    width: 100%;
}

input:focus{
    outline: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

#page-container {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: arial,sans-serif;
}

header {
    font-size: 0.9rem;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.header-part:first-of-type {
    padding: 1em;
}

.header-part {
    display: flex;
    direction: row;
    align-items: center;
}

.header-part:first-of-type > div {
    padding-left: 0.7em;
}

.header-part > div {
    padding: 0 1em 0 1em;
    flex-shrink: 1;
}

#sign-in-button {
    font-size: larger;
    background-color: #1a73e8;
    border-radius: 0.3em;
    padding: 0.5em 1.25em 0.5em 1.25em;
    color: white;
}

#google-apps > a{
    display: grid;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    gap: 2px;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #5f6368;
}

main {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    max-width: 100vw;
}

#google-logo {
    width: 272px;
    height: auto;
}

#search-bar-container {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-bar {
    max-width: 80%;
    margin-top: 20px;
    display: block;
    min-width: 400px;
    width: 600px;
    /* width: auto; */
    /* max-width: 600px; */
    line-height: 3em;
    border-radius: 1.5em;
    border: 1px solid #dfe1e5;
}

#search-buttons-container {
    margin-top: 0.5em;
    font-size: smaller;
    gap: 1em;
    display: flex;
    flex-direction: flex-row;
    justify-content: center;
    padding: 1em;
    margin-top: 1em;
}

#search-buttons-container > input {
    font-size: 1.25em;
    border-radius: 0.25em;
    background-color: #F8F9FA;
    border: none;
    padding: 0.6em;
}



/* #search-bar-container::after {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 30px;
    left: 15px;
    background: green;
} */

#search-icon {
    max-width: 50%;
    max-height: 50%;
    position: absolute;
    top: 2em;
    left: 4.5em;
    opacity: 0.35;
}

footer {
    background-color: #f2f2f2;
    height: 30px;
    min-height: 30px;
    flex-grow: 1;
}