/* Reset styles */
body {
    margin: 0;
    width: 100%;
}

input:focus{
    outline: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}



/* Page style */
#page-container {
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: arial,sans-serif;
}



/* Header style */
header {
    font-size: 0.9rem;
    margin-top: 0.625rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.header-part:first-of-type {
    padding: 1em;
}

.header-part {
    display: flex;
    direction: row;
    align-items: center;
}

.header-part:first-of-type > div {
    padding-left: 0.7em;
}

.header-part > div {
    padding: 0 1em 0 1em;
    flex-shrink: 1;
}

#sign-in-button {
    background-color: RGBA(26, 115, 232, 1);
    border-radius: 0.35rem;
    padding: 0.6rem 1.1rem 0.6rem 1.1rem;
    margin-right: 0.5rem;
    color: white;
    position: relative;
}

#sign-in-button > a:hover {
    text-decoration: none;
}

#sign-in-button:hover {
    background-color: RGBA(26, 115, 232, 0.9);
}

#sign-in-button > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#google-apps-link {
    position: relative;
    display: grid;
    grid-template-areas:
        ". . ."
        ". . ."
        ". . .";
    gap: 2px;
}

#google-apps-link::before {
    content: "";
    width: 250%;
    height: 250%;
    border-radius: 50%;
    position: absolute;
    top: -75%;
    left: -75%;
}

#google-apps-link:hover::before {
    background-color: rgba(60,64,67,0.08);
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #5f6368;
}



/* Main page part style */
main {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    max-width: 100vw;
}

@media (max-height: 650px){
    #search-container {
        padding-top: 5%;
    }
}
@media (max-height: 500px){
    #search-container {
        padding-bottom: 2rem;
    }
}
#google-logo {
    width: 272px;
    height: auto;
}

#search-bar-container {
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-bar {
    max-width: 80%;
    margin-top: 20px;
    min-width: 400px;
    width: 725px;
    line-height: 2.5rem;
    border-radius: 1.5rem;
    border: 1px solid #dfe1e5;
}

#search-bar__input {
    font-size: 1rem;
    margin-left: 3.5rem;
    line-height: 2rem;
    width: 80%;
    border: none;
}

#search-buttons-container {
    margin-top: 0.5em;
    font-size: smaller;
    gap: 1em;
    display: flex;
    flex-direction: flex-row;
    justify-content: center;
    padding: 1em;
    margin-top: 1em;
}

#search-buttons-container > input[type="button"] {
    font-size: 0.9rem;
    border-radius: 0.25rem;
    background-color: #F8F9FA;
    border: none;
    padding: 0.8em 1em 0.8em 1em;
}

#search-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 12.5%;
    opacity: 0.35;
}



/* Footer style */
footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.footer-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-left-part {
    margin-right: 2.5%;
}

.footer-right-part {
    margin-left: 2.5%;
}

.footer-link-container {
    font-size: 0.9rem;
    padding: 1rem;
    color: #70757a;
}


@media (max-width: 600px){
    footer {
        flex-wrap: wrap;
    }

    .footer-link-container {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
}

@media (min-width: 1000px){
    footer {
        justify-content: space-between;
    }
    .footer-part {
        margin: 0 2rem 0 2rem;
    }
}